# Machine Learning
numpy
pandas
scikit-learn
joblib
tqdm

torch
torchvision
transformers
sentence-transformers
sentencepiece

# OCR
PyMuPDF
paddleocr
paddlex
opencv-python-headless
Pillow

# Explainability
shap

# Streamlit
streamlit
openpyxl